@model Entities.Concrete.Category
@{
    ViewBag.Title = "EditCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Kategori Güncelleme Sayfası</h2>

@using (Html.BeginForm("EditCategory","Category",FormMethod.Post))
            {
                <div class="form-group">
                    @Html.HiddenFor(x=>x.CategoryId)
                    @Html.Label("Kategori Adı")
                    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
                    <br />
                    @Html.Label("Açıklama")
                    @Html.TextBoxFor(x => x.CategoryDescription, new { @class = "form-control" })
                    <br />       
                    <button class="btn btn-success">Güncelle</button>
                </div>
            }